{% extends 'base.html' %}

{% block head %}
<title>Pay member</title>
{% endblock %}

{% block body %}
<div class="pay_member">
    <h2 style="text-align: center">Pay member</h2>

    <form action="/pay_member/{{member.id}}" method="POST">

        <table>
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.mail }}</td>
            <td>{{ member.get_debt() }}</td>
        </tr>
        </table>

        <div class="col">
            <label for="amount">Paid amount</label>
            <input type="number" autofocus="autofocus" step="0.01" name="amount" id="amount">
            <br>
            <div class="row-fluid">
                <input type="submit" value="Pay">
                <a href="/" class="button">Back</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
